
*.gz
*.txt~
data/pytorch_data/CIFAR100/cifar-100-python/meta
data/pytorch_data/CIFAR100/cifar-100-python/test
data/pytorch_data/CIFAR100/cifar-100-python/train
.DS_Store
*.npy
__pycache__/cifar100.cpython-37.pyc
data/cifar-100-mean_std.npz
data/cifar-100-python/meta
data/cifar-100-python/test
data/cifar-100-python/train
*.ipynb
data/cifar100/cifar-100-python/meta
data/cifar100/cifar-100-python/test
data/cifar100/cifar-100-python/train
data/fashionmnist/FashionMNIST/processed/test.pt
data/fashionmnist/FashionMNIST/processed/training.pt
data/fashionmnist/FashionMNIST/raw/t10k-images-idx3-ubyte
data/fashionmnist/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/fashionmnist/FashionMNIST/raw/train-images-idx3-ubyte
data/fashionmnist/FashionMNIST/raw/train-labels-idx1-ubyte
*.png
*.pyc
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
